<!DOCTYPE html>
<html lang="lv">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <title>Document</title>
</head>
<body>
    <header>
        <nav>
            <ul class="nav nav-pills">
                <li><a class="nav-item p-2 " href="/">Home</a></li>
                <li><a class="nav-item p-2 " href="/about">About</a></li>
                <li><a class="nav-item p-2 " href="/contact">Contact</a></li>
                <li><a class="nav-item p-2 " href="/chat">Chat</a></li>
            </ul>
        </nav>
    </header>
    <div class="container">
        {% block saturs %}

        {% endblock%}
    </div>
</body>
</html>